@{
    ViewData["Title"] = "Home Page";
}

<div style="width: 516px; height: 388px; color: white; font-size: 48px; font-family: Inter; font-style: italic; font-weight: 600; word-wrap: break-word">CONTRATE OS MELHORES FREELANCERS PARA QUALQUER TRABALHO, TUDO ISSO ONLINE!</div>
<img style="width: 598px; height: 406px; border-radius: 151px" src="https://placehold.co/598x406" />
<div style="width: 326px; height: 57px; color: white; font-size: 24px; font-family: Inter; font-style: italic; font-weight: 600; word-wrap: break-word">•MAIOR MARKETPLACE DE FREELANCERS DO BRASIL!</div>
<div style="width: 326px; height: 57px; color: white; font-size: 24px; font-family: Inter; font-style: italic; font-weight: 600; word-wrap: break-word">•QUALQUER TRABALHO QUE POSSA IMAGINAR!</div>
<div style="width: 381px; height: 57px; color: white; font-size: 24px; font-family: Inter; font-style: italic; font-weight: 600; word-wrap: break-word">•ENCONTRE O FUNCIONÁRIO PERFEITO PARA SUA EMPRESA!</div>
<div style="width: 381px; height: 57px; color: white; font-size: 24px; font-family: Inter; font-style: italic; font-weight: 600; word-wrap: break-word">•CONTRATE UM FREELANCER</div>
<div style="color: white; font-size: 24px; font-family: Inter; font-style: italic; font-weight: 600; word-wrap: break-word">•ACHE SUA VAGA</div>