@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-6">
        <div style="width: 516px; height: 388px; color: white; font-size: 42px; font-family: Inter; font-style: italic; font-weight: 600; word-wrap: break-word">CONTRATE OS MELHORES FREELANCERS PARA QUALQUER TRABALHO, TUDO ISSO ONLINE!</div>
    </div>
    <div class="col-6">
        <img style="width: 458px; height: 406px; border-radius: 151px" src="https://placehold.co/598x406" />
    </div>
</div>

<div class="row">
    <div class="col-1">
    </div>

    <div style="width: 326px; height: 57px; color: white; font-size: 24px; font-family: Inter; font-style: italic; font-weight: 600; word-wrap: break-word">•MAIOR MARKETPLACE DE FREELANCERS DO BRASIL!</div>
    <div style="width: 326px; height: 57px; color: white; font-size: 24px; font-family: Inter; font-style: italic; font-weight: 600; word-wrap: break-word">•QUALQUER TRABALHO QUE POSSA IMAGINAR!</div>
    <div style="width: 381px; height: 57px; color: white; font-size: 24px; font-family: Inter; font-style: italic; font-weight: 600; word-wrap: break-word">•ENCONTRE O FUNCIONÁRIO PERFEITO PARA SUA EMPRESA!</div>
</div>

<div class="row" style="margin-top: 50px;">
    <!-- Ajusta o valor conforme necessário -->
    <div class="col-6">
        <button type="button" class="btn btn-primary btn-lg btnHome  mt-3">CONTRATE UM FREELANCER!</button>
    </div>
    <div class="col-6">
        <button type="button" class="btn btn-primary btn-lg btnHome  mt-3">ACHE SUA VAGA!</button>
    </div>
</div>